<template>
    <b-container fluid="md">
        <b-row>
            <b-col class=" bg-primary py-2 text-white"><h2>Чат</h2></b-col>
        </b-row>
        <b-row>
            <b-col class="col-12 col-sm-6">
                <Chat :user="username" :listMsg="listMsg" :avatar="avatar" v-on:addMsg="addMsg(username, $event)">
                </Chat>
            </b-col>
            <b-col class="col-12 col-sm-6">
                <Chat user="Иван Иванов" :listMsg="listMsg" :avatar="IIavatar" v-on:addMsg="addMsg('Иван Иванов', $event)">
                </Chat>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import Chat from '@/components/Chat.vue'
export default {
  props: ['username', 'avatar'],
  data () {
    return {
      listMsg: [],
      IIavatar: ''
    }
  },
  components: {
    Chat
  },
  methods: {
    addMsg (user, vol) {
      if (vol !== '') {
        const dt = new Date()
        this.listMsg.push({ name: user, date: dt, msg: vol })
      }
    }
  }
}
</script>
