<template>
    <b-container fluid="md">
        <b-row>
            <b-col class="bg-primary py-2 text-white"><h2>Регистрация</h2></b-col>
        </b-row>
        <b-form class="px-1 py-2">
            <b-form-group>
                <label for="name">Имя пользователя</label>
                <b-form-input type="text" id="name" v-model="name" placeholder="nickname" />
            </b-form-group>
            <b-form-group>
                <label for="avatar">Аватар</label>
                <b-form-input type="url" id="avatar" v-model="avatar" placeholder="url" />
            </b-form-group>
            <b-button type="button" variant="primary" v-on:click="enter()">Войти</b-button>
        </b-form>
    </b-container>
</template>

<script>

export default {
  data () {
    return ({
      name: '',
      avatar: ''
    })
  },
  methods: {
    enter () {
      if (this.name !== '') {
        this.$router.push({ name: 'Main', params: { username: this.name, avatar: this.avatar } })
      }
    }
  }
}
</script>
