<template>
    <div>
        <b-card class="text-left" >
            <b-card-header>
              <b-img class="img" left :src=avt rounded="circle" width="24" height="24"></b-img>
              {{user}}
            </b-card-header>
            <b-card-body class=" hcard">
                <Message v-for="item in listMsg" :self="user" :msgUser="item.name" :key="item.key">
                    <p slot="date"><span>{{ item.date | moment("HH:mm") }}</span></p>
                    <p slot="msg">{{item.msg}}</p>
                </Message>
            </b-card-body>
            <b-card-footer>
                <b-form-textarea
                    id="textarea"
                    v-model="text"
                    placeholder="Введите сообщение."
                    rows="1"
                ></b-form-textarea>
                <b-button type="button" variant="primary" v-on:click="send()">Отправить</b-button>
            </b-card-footer>
        </b-card>
    </div>
</template>

<script>
import Message from '@/components/Message'
export default {
  props: ['user', 'listMsg', 'avatar'],
  components: {
    Message
  },
  data () {
    return {
      text: '',
      avt: '/static/people-avatars.jpg'
    }
  },
  methods: {
    send () {
      this.$emit('addMsg', this.text, this.user)
      this.text = ''
    }
  },
  mounted () {
    if (this.avatar !== '') {
      this.avt = this.avatar
    }
  }
}
</script>

<style scoped>

.img {
  margin-right: 10px;
}

.hcard {
  height: 400px;
  overflow: auto;
}

</style>
