<template>
    <div :class="{ self: isSelf }">
        <slot name="date">
            <p>date</p>
        </slot>
        <slot name="msg">
            <p>msg</p>
        </slot>
    </div>
</template>

<script>
export default {
  props: ['self', 'msgUser'],
  data () {
    return { isSelf: true }
  },
  mounted () {
    if (this.self !== this.msgUser) {
      this.isSelf = false
    }
  }
}
</script>

<style scoped>

div {
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid #999;
    border-radius: 5px;
}

.self {
    margin-left: 25%;
    background-color: #afa;
}

div:not(.self) {
    margin-right: 25%;
}

</style>
